/* reset css */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
/* variables */
:root {
  --nav-color: rgb(234 194 155);
  --nav-color-focus: rgb(238, 201, 163);
  --grey-color: rgb(245, 245, 245);
  --nav-length: 58px;
  --font-size: 16px;
}
/* common */
.view {
  width: 100%;
}
.contact {
  color: black;
}
.contact ul {
  justify-content: center;
}
.contact a {
  color: black;
  margin: 0px 5px;
}
.heading {
  color: var(--nav-color);
  padding: 15px 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.mandate {
  color: red;
}
.btn {
  width: 100%;
  color: black;
  font-weight: 450;
  background-color: var(--nav-color);
}
.btn:focus,
.btn:hover {
  color: black;
  font-weight: 450;
  background-color: var(--nav-color-focus);
  box-shadow: 0 0 5px #c1c1c1;
}
/* navbar */
#navbar {
  box-shadow: 0 1px 2px var(--nav-color-focus);
  padding: 10px 20px;
  background-color: var(--nav-color) !important;
}
#navbar button:hover,
#navbar button:active,
#navbar button:focus {
  background-color: var(--nav-color-focus);
  border: 1px;
}
.navbar a {
  text-transform: capitalize;
  color: black;
  border-radius: 5px;
  text-align: center;
  padding: 4px 6px;
  font-weight: 400;
}
.navbar a:hover,
.navbar a:active {
  background-color: var(--nav-color-focus);
}
.navbar-toggler:focus {
  box-shadow: none;
  background-color: var(--nav-color-focus);
}
/* main*/
#main {
  background-image: url(../assets/images/world_map.jpg);
  background-repeat: no-repeat;
  /* filter: blur(8px); */
  background-position: center;
  color: white;
  padding-top: var(--nav-length);
  display: flex;
  flex-direction: column;
}
#main .form-class {
  background-color: rgb(253, 253, 253);
  box-shadow: rgb(210, 210, 210);
  padding: 15px 20px;
  color: black;
  font-weight: 400;
  border-radius: 10px;
}
.form-area {
  padding: 50px;
}
.form-heading {
  margin-bottom: 9px;
}
.form-control:focus {
  border-color: #c1c1c1;
  box-shadow: 0 0 5px #c1c1c1;
  outline: none;
}
.form-check-input:focus {
  border-color: #c1c1c1;
  box-shadow: 0 0 5px #c1c1c1;
  outline: none;
}
#main .form-class label {
  margin-bottom: 0px;
}
.intro-text {
  margin: 10px;
  text-align: left;
  padding: 8px;
}
/* about */
#aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5px;
  align-items: center;
  background-color: var(--grey-color);
}
.card {
  padding: 5px;
  margin: 6px;
}
.card-title {
  text-align: center;
}
.card:hover {
  width: 20rem;
  box-shadow: rgb(224, 10, 10);
}
/* findStore */
#findStore {
  width: 100%;
}
#findStore .row {
  align-items: center;
}
.map {
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* FAQs */
#FAQs {
}
.faq {
  margin-bottom: 6px;
  height: 100vh;
}
.accordion-item {
  border: none;
}
.accordion-body {
  background-color: rgb(249, 249, 249);
}
.accordion-item:hover,
.accordion-item:focus {
  border: 1px;
}
/* shipNow */
#shipNow {
  background-color: rgb(243, 16, 179);
}
/* footer */
#footer {
  background-color: rgb(0, 0, 0);
}
